In [1]:
import numpy as np
import pandas as pd

## Loading csv into dataframes

In [25]:
filename = '../csv/Anio2002.csv'
df = pd.read_csv(filename)

In [26]:
df.head()

,año,compuesto,dia,estacion,hora 1,hora 10,hora 11,hora 12,hora 13,hora 14,...,validez 22,validez 23,validez 24,validez 3,validez 4,validez 5,validez 6,validez 7,validez 8,validez 9
0,2,1,1,28079001,21.32,15.71,19.33,17.75,12.92,12.48,...,V,V,V,V,V,V,V,V,V,V
1,2,1,2,28079001,6.25,29.13,19.83,18.09,12.41,11.94,...,V,V,V,V,V,V,V,V,V,V
2,2,1,3,28079001,10.06,11.87,14.15,14.81,15.71,18.06,...,V,V,V,V,V,V,V,V,V,V
3,2,1,4,28079001,9.71,26.36,22.68,17.56,18.91,17.91,...,V,V,V,V,V,V,V,V,V,V
4,2,1,5,28079001,17.77,25.67,16.33,15.30,16.70,16.53,...,V,V,V,V,V,V,V,V,V,V

In [27]:
df['estacion'].unique()

array([28079001, 28079002, 28079003, 28079004, 28079005, 28079006,
       28079007, 28079009, 28079010, 28079011, 28079012, 28079013,
       28079014, 28079015, 28079016, 28079017, 28079018, 28079019,
       28079020, 28079021, 28079022, 28079023, 28079024, 28079025,
       28079099, 28079008])

In [28]:
dd = df[df['estacion']==28079099]

In [31]:
ss = dd[dd['compuesto']==58]

In [34]:
df.compuesto.unique()

array([ 1,  6,  8, 10, 12, 14, 20, 30, 35, 37, 38, 39, 42, 44])

In [40]:
sorted(df['mes'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]